<Files "install.sql">
	Order Allow,Deny
	Deny from All
</Files>

AddDefaultCharset utf-8
FileETag MTime Size

<IfModule mod_rewrite.c>
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-l
	RewriteRule .* index.php [L]
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault A3600
	<FilesMatch \.js$>
		ExpiresDefault A43200
	</FilesMatch>
	<FilesMatch \.css$>
		ExpiresDefault A172800
	</FilesMatch>
	<FilesMatch \.(?:gif|jpe?g|png|ico)$>
		ExpiresDefault A604800
	</FilesMatch>
	<FilesMatch \.php$>
		ExpiresActive Off
	</FilesMatch>
</IfModule>